*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --color-g: #808080;
    --color-b: #161616;
    --font-p: 'Pacifico', sans-serif;
    --font-l: 'Lato', sans-serif;
    --Font-v: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-b);
    font-size: 1rem;
    position: relative;
}
img {
    display: block;
    width: 100%;
    height: 100%;
    filter: contrast(1.1) saturate(1.2);
}
.details{
    display: flex;
    flex-direction: column;
    color: var(--color-g);
    padding: 3rem 2rem 0 2rem;
    text-align: center;
    animation: fade-in ease-in-out 1s alternate;
}
.details h1,
.details h3,
.details a{
    overflow-wrap: break-word;
    animation: fade-in ease-in-out 1s alternate;
}
.details h1{
    font-size: 2.1rem;
    overflow-wrap: break-word;
}
.day-time {
    margin-bottom: 3px;
    font-style: italic;
    font-size: 1rem;
}
.about-container {
    padding: 2rem;
    border-top: 1px solid var(--bd-grey);
    border-bottom: 1px solid var(--bd-grey);
    margin-block-start: 40px;
}
.about-container ul {
    list-style: circle;
    animation: fade-in ease-in-out 1s alternate;
}

.about-container ul li {
    padding: 4px;
}
.email-link {
    padding: 0.4em;
    font-weight: bold;
    color: var(--color-g);
    text-decoration: none;
}
.email-link:hover {
    background: rgba(255, 255, 0, 0.2);
}
.resources {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 3rem 4rem 0 4rem;
    animation: fade-in ease-in-out 1s alternate;
}
.resource-link{
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-block-end: 26px;
}
.resource-link a {
    color: var(--color-g);
    text-decoration: none;
    border: none;
    padding:6px;
    transition: color 0.25s ease-in-out;
}
.resource-link a:hover{
    color: var(--color-b);
    background: rgba(255, 255, 0, 0.2);
}
.details-header{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
    animation: fade-in ease-in-out 1s alternate;
    border-top: 2px solid var(--color-g);
    padding-top: 1rem;
}
/* /-------------------------------/ */
/* -------- Responsivenes----------- */
@media (min-width: 1120px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
/* /------------------------------/ */
/* ----------Animation-------------- */
@keyframes fade-in {
    from {
        opacity: 0;
        translate: 0 10px;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

/* =============================================== */
/* Animation behaviour */
@keyframes moveEffect {
    0% {
        transform: translateY(200px)rotateY(-30deg);
    }

    100% {
        transform: translateY(0)rotateY(0);
        opacity: 1;
    }
}